<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MigrationProcessor" value="Mock" />
    <add key="ConnectionString" value="MockConnectionString" />
    <add key="ConnectionStringNoProvider" value="MockConnectionStringNoProvider" />
    <add key="MigrationsDirectory" value="..\..\Migrations\5_ok" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MockConnectionString" providerName="ModernRoute.NomadData.Test.Provider" connectionString="nevermind" />
    <add name="MockConnectionStringNoProvider" connectionString="nevermind" />
    <!--
      <add name="MySqlSample" providerName="MySql.Data.MySqlClient" connectionString="Server=hostname;Database=database;Uid=root;Pwd=password;" />
      <add name="SqliteSample" providerName="System.Data.SQLite" connectionString="Data Source=c:\mydb.db;Version=3;" />      
    -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="ModernRoute.NomadData.Test.Provider" />
      <!-- 
      <remove invariant="MySql.Data.MySqlClient" />
      <remove invariant="System.Data.SQLite"/>
    -->
      <add name="Mock Data Provider" invariant="ModernRoute.NomadData.Test.Provider" description=".Net Framework Mock Data Provider for tests" type="ModernRoute.NomadData.Test.Provider.MockClientFactory, ModernRoute.NomadData.Test" />
      <!--
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    -->
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>