<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <!--  
    <add key="MigrationProcessor" value="MySql" />
    <add key="ConnectionString" value="MySqlSample" />
    <add key="MigrationsDirectory" value="" />
  -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
  <!--
    <connectionStrings>
      <add name="MySqlSample" providerName="MySql.Data.MySqlClient" connectionString="Server=hostname;Database=database;Uid=root;Pwd=password;" />
      <add name="SqliteSample" providerName="System.Data.SQLite" connectionString="Data Source=c:\mydb.db;Version=3;" />      
    </connectionStrings>
  -->
    <DbProviderFactories>
      <remove invariant="MockProvider" />
    <!-- 
      <remove invariant="MySql.Data.MySqlClient" />
      <remove invariant="System.Data.SQLite"/>
    -->
      <add name="Mock Data Provider" invariant="MigSharpSQL.Test.Provider" description=".Net Framework Mock Data Provider for tests" type="MigSharpSQL.Test.Provider.MockClientFactory, MigSharpSQL.Test" />
    <!--
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    -->
    </DbProviderFactories>
  </system.data>
</configuration>